body {
    padding-top: 50px;
    
     /*font-family: 'Glass Antiqua', cursive;*/
     background-color: rgba(255, 241, 208, 1);
}

h2, h1 {
    font-family: 'Alfa Slab One', cursive !important;
}

p, h4 {
    font-family: 'Gentium Book Basic', serif !important;
}

.navbar-default {
    background-color: #086788 !important;
    
}

#main {
    background-color: rgba(7, 160, 195, 1);
    padding-top: 50px;
    height: 450px;
}

#navBar {
    border-bottom-width: 0px;
}

#topThree {
    background-color: rgba(255, 241, 208, 1);
}

.repo {
    background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

.repo:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#languageData {
    background-color: rgba(240, 200, 8, 1);
    min-height: 300px;
}