<!DOCTYPE HTML>
<html ng-app="tributeApp">

<head>



    <link rel="stylesheet" href="css/style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

            <link href="https://fonts.googleapis.com/css?family=Glass+Antiqua|Suranna" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic" rel="stylesheet">
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script src="js/app.js"></script>
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top navbar-custom affix-top" id="navBar" ng-controller="GitHubController">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="https://github.com/goteamtim/tribute">Tribute</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
        
        <li><a href="javascript:(function(){window.location = window.location;}())">Reset</a></li>
        
      </ul>
                <!--<ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form navbar-left" ng-submit="submit()">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Tribute new user" ng-model="gitHubUsername" name="gitHubUsername" id="gitHubUsername">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </li>

                </ul>
            </div>-->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!--<nav class="navbar navbar-default navbar-fixed-top navbar-custom affix-top" id="navBar">
        <div class="container">
            <div class="navbar-header page-scroll">
                Tribute Page
            </div>
        </div>
    </nav>-->
    <div class="container-fluid" ng-controller="GitHubController">
        <div class="row" id="main">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <img ng-src="{{imgUrl}}" alt="" class="img-circle" width="200px" height="200px" />
                <div>
                    <h1>{{tributeUserInfo.data.name}}</h1>
                    <h3 style="padding-left: 25%; padding-right: 25%;" class="text-center">{{tributeUserInfo.data.bio}}</h3>

                </div>
            </div>
        </div>

        <div ng-controller="repoController">
            <!-- LAST UPDATED REPO -->
            <div class="row" id="lastUpdatedRow">
                <div class="col-md-4">
                    <h3>I most recently updated {{repos[0].name}} on {{repos[0].pushed_at | date}} which has been keeping me
                        busy. {{repos[0].name}} is written primarily in {{repos[0].language}}.</h3>
                </div>
                <div class="col-md-8">
                    <h1>{{repos[0].name}}</h1>
                    <div id="recentRepoLanGraph" class="charts" style="width: 100%; height: 100%;"></div>
                    <h3 style="width:500px;" class="text-center">{{repos[0].description}}</h3>

                </div>
            </div>
            <!-- LAST UPDATED REPO -->

            <!-- Language Data -->
            <div class="row" id="languageData">
                <div class="col-md-6">
                    <div class="progress" ng-show="showProgressBar">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" id="languagesStatus"
                            style="width: 0%">
                    </div>
                </div>
                <div id="allLanguagesChart" class="charts" style="width: 100%; height: 100%; background-color: rgba(240, 200, 8, 1)" ng-show="languageChartReady"></div>
            </div>
            <div class="col-md-6">
                <h3>Here is a distribution of the different languages I code in. As you can see, my language of choice is clearly
                    {{topLanguage}}.  Over the past year I have {{totalCommits}} commits total.
                </h3>
            </div>
        </div>
        <!-- Language Data -->

        <!-- REPOS -->
        <div class="row" id="topThree">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Repositories</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-3 text-center" ng-repeat="repo in repos">
                    <a ng-href="{{repo.html_url}}">
                    <div class="repo">
                        {{repo.name}}
                        <p>Repo Size: {{repo.size}}</p>
                        <p>Open Issues: {{repo.open_issues}}</p>
                        <!-- Try and get stats on the repo so you can display.  maybe add ability to filter by language? -->
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- REPOS -->
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">



            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Welcome!</h4>
                </div>
                <div class="modal-body">


                    <form ng-submit="submit()">
                        <p>Enter your Github Username below to get started!</p>
                        <input type="text" ng-model="gitHubUsername" name="gitHubUsername" id="gitHubUsername" />
                        <input type="submit" id="submit" value="Submit" />

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    </div>
    <script type="text/javascript">
        $("#myModal").modal('show');
        document.getElementById("gitHubUsername").focus()
    </script>
</body>

</html>