<!DOCTYPE HTML>
<html ng-app="tributeApp">

<head>



    <link rel="stylesheet" href="css/style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Glass+Antiqua|Suranna" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="js/app.js"></script>
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top navbar-custom affix-top" id="navBar">
        <div class="container">
            <div class="navbar-header page-scroll"></div>
        </div>
    </nav>
    <div class="container-fluid" ng-controller="GitHubController">
        <div class="row" id="main">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <img ng-src="{{imgUrl}}" alt="" class="img-circle" width="200px" height="200px" />
                <div>
                    <h2>{{tributeUserInfo.data.name}}</h2>
                    <h4>{{tributeUserInfo.data.bio}}</h4>
                    
                </div>
            </div>
        </div>
        <div class="row" id="topThree" ng-controller="repoController">
            <div class="col-sm-4 col-md-4 col-lg-4" ng-repeat="">
                <img ng-src="" alt="">
            </div>
        </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">



            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Welcome!</h4>
                </div>
                <div class="modal-body">
                    
                    
                    <form ng-submit="submit()" >
                        <p>Enter your Github Username below to get started!</p>
                        <input type="text" ng-model="gitHubUsername" name="gitHubUsername" />
                        <input type="submit" id="submit" value="Submit" />
                        
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    </div>
    <script type="text/javascript">

    $("#myModal").modal('show');

</script>
</body>

</html>